body {
  background-image: url('https://wallpapers.com/images/high/zoom-interview-background-rap2kr2rka52wrno.webp');
  background-size: cover;
}

#title {
  color: white;
  text-align: center;
}

#description {
  font-style: italic;
  color: white;
  text-align: center;
}

form {
  background-color: black;
  width: 700px;
  height: 1000px;
  margin: 10px auto;
}

.input-user-class {
  margin-top: 10px;
  margin-left: 20px;
  padding: 7px;
  width: 90%;
  border-radius: 5px;
}

label {
  color: white;
  display: block;
  width: 50%;
  height: 10%;
  margin-top: 20px;
  margin-left: 20px;
}


fieldset {
  border: none;
}

.refer-fcc, .improve-fcc, .fav-feature-fcc, .feedback {
  margin-top: 5px;
  width: 100%;
}

.btn-submit {
  margin-top: 10px;
  margin-left: 15px;
  padding: 7px;
  width: 93%;
  background-color: green;
  color: white;
}

.textarea-cls {
  margin-top: 10px;
  margin-left: 15px;
  padding: 7px;
  width: 90%;
}

.select-cls {
  width: 92%;
  margin-left: 20px;
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
}
